<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.naho.speech.topic.mybatis.TopicQueryMapper">

    <sql id="Base_Where_Clause">
        <where>
            <if test="query.status != null">
                AND t.status = #{query.status}
            </if>
            <if test="query.jlptLevel != null">
                AND t.jlpt_level = #{query.jlptLevel}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (t.japanese_name LIKE CONCAT('%', #{query.keyword}, '%')
                     OR t.japanese_description LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="countTopics" resultType="long">
        SELECT COUNT(t.id)
        FROM topics t
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="findTopics" resultType="org.naho.speech.topic.result.TopicListItemResult">
        SELECT 
            t.id AS id,
            t.japanese_name AS name,
            t.japanese_description AS description,
            t.japanese_name_tokens AS japaneseNameTokens,
            t.japanese_description_tokens AS japaneseDescriptionTokens,
            t.status AS status,
            t.jlpt_level AS jlptLevel,
            t.order_index AS orderIndex,
            t.cover_image_file_id AS coverImageFileId,
            COUNT(q.id) AS totalQuestions
        FROM topics t
        LEFT JOIN questions q ON t.id = q.topic_id
        <include refid="Base_Where_Clause"/>
        GROUP BY 
            t.id, t.japanese_name, t.japanese_description, 
            t.japanese_name_tokens, t.japanese_description_tokens,
            t.status, t.jlpt_level, t.order_index, t.cover_image_file_id
        <choose>
            <when test="query.sortBy != null and query.sortBy != ''">
                ORDER BY t.${query.sortBy} 
                <choose>
                    <when test='query.sortDirection != null and query.sortDirection.equalsIgnoreCase("DESC")'>
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY t.order_index ASC
            </otherwise>
        </choose>
        LIMIT #{query.size} OFFSET #{offset}
    </select>

</mapper>
