<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.naho.user.mybatis.UserQueryMapper">
    <select id="findByProviderUserIdAndProviderName" resultType="org.naho.user.entity.UserEntity">
        select u.*
        from users u
                 join o_auth_providers o on u.id = o.user_id
        where o.provider_user_id = #{providerUserId}
          and o.provider_name = #{providerName}
    </select>

    <resultMap id="LeaderboardUserResultMap" type="org.naho.user.result.LeaderboardUserResult">
        <id property="id" column="user_id"/>
        <result property="leagueId" column="league_id"/>
        <result property="rank" column="position"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="fullName" column="full_name"/>
        <result property="avatarObjectKey" column="object_key"/>
        <result property="totalPoint" column="total_point"/>

        <collection
                property="oAuthAvatarUrl"
                javaType="java.util.ArrayList"
                ofType="java.lang.String"
        >
            <result column="avatar_url"/>
        </collection>
    </resultMap>

    <select id="findTop10OrderByTotalPointInLeague" resultMap="LeaderboardUserResultMap">
        <![CDATA[
        SELECT leaderboard.user_id,
               leaderboard.league_id,
               leaderboard.position,
               leaderboard.username,
               leaderboard.email,
               leaderboard.full_name,

               leaderboard.object_key,

               leaderboard.total_point,
               oap.avatar_url
        FROM (SELECT ROW_NUMBER() OVER (
            ORDER BY
                ulp.total_point DESC,
                ulp.modified_time IS NULL,
                ulp.modified_time DESC,
                ulp.created_time DESC
            ) AS position,
                     u.id AS user_id,
                     l.id AS league_id,
                     u.username,
                     u.email,
                     u.full_name,
                     f.object_key,
                     ulp.total_point
              FROM users u
                  JOIN user_learning_progresses ulp
              ON u.user_learning_progress_id = ulp.id
                  LEFT JOIN files f
                  ON u.avatar_file_id = f.id
                  JOIN leagues l
                  ON l.id = #{leagueId}

              WHERE u.status = 'ACTIVE'
                AND ulp.total_point >= l.min_point
                AND (
                  l.max_point IS NULL
                 OR ulp.total_point <= l.max_point
                  )) leaderboard
                 LEFT JOIN o_auth_providers oap
                           ON leaderboard.user_id = oap.user_id
        where leaderboard.position <= 10
        ORDER BY leaderboard.position
        ]]>
    </select>

    <select id="findTopOfUserByUserId" resultMap="LeaderboardUserResultMap">
        <![CDATA[
        WITH `user_current_league` AS
                 (SELECT l.id AS league_id,
                         l.min_point,
                         l.max_point
                  FROM users u
                           JOIN user_learning_progresses ulp
                                ON u.user_learning_progress_id = ulp.id
                           JOIN leagues l
                                ON l.min_point <= ulp.total_point
                                    AND (l.max_point IS NULL OR l.max_point >= ulp.total_point)
                  WHERE u.status = 'ACTIVE'
                    AND u.id = #{userId}),
             leaderboard AS
                 (SELECT ROW_NUMBER() OVER (
                     ORDER BY
                         ulp.total_point DESC,
                         ulp.modified_time IS NULL,
                         ulp.modified_time DESC,
                         ulp.created_time DESC
                     ) AS position, u.id AS user_id, `user_current_league`.league_id, u.username, u.email, u.full_name, f.object_key, ulp.total_point
        FROM users u
            JOIN user_learning_progresses ulp
        ON u.user_learning_progress_id = ulp.id
            LEFT JOIN files f
            ON u.avatar_file_id = f.id
            CROSS JOIN `user_current_league`
        WHERE u.status = 'ACTIVE'
          AND ulp.total_point >= `user_current_league`.min_point
          AND (`user_current_league`.max_point IS NULL
           OR ulp.total_point <= `user_current_league`.max_point))
        SELECT leaderboard.*,
               oap.avatar_url
        FROM leaderboard
                 LEFT JOIN o_auth_providers oap
                           ON leaderboard.user_id = oap.user_id
        WHERE leaderboard.user_id = #{userId}
        ]]>
    </select>
</mapper>