<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.naho.point.mybatis.LeagueQueryMapper">
    <resultMap id="leagueResultMap" type="org.naho.point.entity.LeagueEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="minPoint" column="min_point"/>
        <result property="maxPoint" column="max_point"/>

        <association property="iconFile" javaType="org.naho.file.entity.FileEntity">
            <id property="id" column="icon_file_id"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="leagueResultMap">
        select l.id,
               l.name,
               l.icon_file_id,
               l.description,
               l.max_point,
               l.min_point
        from leagues l
    </select>
</mapper>