<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.naho.book.mybatis.TopicQueryMapper">

    <sql id="Base_Where_Clause">
        <where>
            <if test="query.status != null">
                AND t.status = #{query.status}
            </if>
            <if test="query.bookId != null">
                AND t.book_id = #{query.bookId}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (t.japanese_name LIKE CONCAT('%', #{query.keyword}, '%')
                OR t.japanese_description LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="countTopics" resultType="long">
        SELECT COUNT(t.id)
        FROM topics t
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="findTopics" resultType="org.naho.book.result.TopicListItemResult">
        SELECT
        t.id AS id,
        t.japanese_name AS japaneseName,
        t.japanese_description AS japaneseDescription,
        t.japanese_name_markup AS japaneseNameMarkup,
        t.japanese_description_markup AS japaneseDescriptionMarkup,
        t.status AS status,
        t.order_index AS orderIndex,
        t.cover_image_file_id AS coverImageFileId,
        COUNT(q.id) AS totalQuestions
        FROM topics t
        LEFT JOIN lessons l ON t.id = l.topic_id
        LEFT JOIN objectives o ON l.id = o.lesson_id
        LEFT JOIN questions q ON o.id = q.objective_id
        <include refid="Base_Where_Clause"/>
        GROUP BY
        t.id, t.japanese_name, t.japanese_description,
        t.japanese_name_markup, t.japanese_description_markup,
        t.status, t.order_index, t.cover_image_file_id
        <choose>
            <when test="query.sortBy != null and query.sortBy != ''">
                ORDER BY t.${query.sortBy}
                <choose>
                    <when test='query.sortDirection != null and query.sortDirection.equalsIgnoreCase("DESC")'>
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY t.order_index ASC
            </otherwise>
        </choose>
        LIMIT #{query.size} OFFSET #{offset}
    </select>

</mapper>
