<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.naho.book.mybatis.TopicQueryMapper">

    <sql id="Base_Where_Clause">
        <where>
            <if test="query.status != null">
                AND t.status = #{query.status}
            </if>
            <if test="query.bookId != null">
                AND t.book_id = #{query.bookId}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                AND (t.japanese_name LIKE CONCAT('%', #{query.keyword}, '%')
                OR t.japanese_description LIKE CONCAT('%', #{query.keyword}, '%')
                OR t.vietnamese_description LIKE CONCAT('%', #{query.keyword}, '%')
                OR t.english_description LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="countTopics" resultType="long">
        SELECT COUNT(t.id)
        FROM topics t
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="findTopics" resultType="org.naho.book.result.TopicResult">
        SELECT
        t.id AS id,
        t.japanese_name AS japaneseName,
        t.japanese_description AS japaneseDescription,
        t.vietnamese_description AS vietnameseDescription,
        t.english_description AS englishDescription,
        t.japanese_name_markup AS japaneseNameMarkup,
        t.japanese_description_markup AS japaneseDescriptionMarkup,
        t.status AS status,
        t.order_index AS orderIndex,
        t.cover_image_file_id AS coverImageFileId,
        COUNT(q.id) AS totalQuestions
        FROM topics t
        LEFT JOIN lessons l ON t.id = l.topic_id
        LEFT JOIN objectives o ON l.id = o.lesson_id
        LEFT JOIN learning_path_nodes lpn ON o.id = lpn.objective_id
        LEFT JOIN speaking_questions q ON lpn.speaking_question_id = q.id
        <include refid="Base_Where_Clause"/>
        GROUP BY
        t.id, t.japanese_name, t.japanese_description, t.vietnamese_description, t.english_description,
        t.japanese_name_markup, t.japanese_description_markup,
        t.status, t.order_index, t.cover_image_file_id
        <choose>
            <when test="query.sortBy != null and query.sortBy != ''">
                ORDER BY t.${query.sortBy}
                <choose>
                    <when test='query.sortDirection != null and query.sortDirection.equalsIgnoreCase("DESC")'>
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY t.order_index ASC
            </otherwise>
        </choose>
        LIMIT #{query.size} OFFSET #{offset}
    </select>

    <resultMap id="TopicResultMap" type="org.naho.book.entity.TopicEntity">
        <id property="id" column="id"/>
        <result property="createdTime" column="created_time"/>
        <result property="modifiedTime" column="modified_time"/>
        <result property="japaneseName" column="japanese_name"/>
        <result property="japaneseDescription" column="japanese_description"/>
        <result property="vietnameseDescription" column="vietnamese_description"/>
        <result property="englishDescription" column="english_description"/>
        <result property="japaneseNameMarkup" column="japanese_name_markup"/>
        <result property="japaneseDescriptionMarkup" column="japanese_description_markup"/>
        <result property="status" column="status"/>
        <result property="orderIndex" column="order_index"/>
        <result property="firstNodeGlobalOrderIndex" column="first_node_global_order_index"/>
        <result property="lastNodeGlobalOrderIndex" column="last_node_global_order_index"/>
        <association property="coverImageFile" javaType="org.naho.file.entity.FileEntity">
            <id property="id" column="cover_image_file_id"/>
        </association>
        <association property="user" javaType="org.naho.user.entity.UserEntity">
            <id property="id" column="user_id"/>
        </association>
        <association property="book" javaType="org.naho.book.entity.BookEntity">
            <id property="id" column="book_id"/>
        </association>
    </resultMap>

    <select id="findBySpeakingQuestionId" resultMap="TopicResultMap">
        select t.*
        from speaking_questions sq
                 join learning_path_nodes lpn on sq.id = lpn.speaking_question_id
                 join objectives o on lpn.objective_id = o.id
                 join lessons l on o.lesson_id = l.id
                 join topics t on l.topic_id = t.id
        where sq.id = #{speakingQuestionId}
    </select>

</mapper>
